body{ 
    font-family: 'Roboto', sans-serif;
    background: rgb(75, 2, 2);
    outline: 1px solid red
}

header {
    padding: 30px;
    text-align: center;
    background: #2b3792;
    border: solid 5px black;
  }
  
  audio {float: right; padding: 5px;}
    

main{
    display:flex;
    outline: 1px solid rgb(0, 255, 204)  
}

button{
    background-color: #3816c4;
    border-radius: 8px;
    color: white;
    padding: 5px 22px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 8px 4px;
    cursor: pointer;}
  

.Conteudo01{ 
    padding: 30px;
    font-family: 'Roboto', sans-serif;
    border: solid 5px black;
    text-align: center justify;
    margin: 10px solid;
    width: 1240px;
    background-color:rgb(169, 153, 153)}


.Conteudo02{ 
    padding: 30px;
    font-family: 'Roboto', sans-serif;
    text-align: center justify;
    border: solid 5px black;
    margin: 10px solid;
    width: 1240px;
    background-color:rgb(169, 153, 153)}

.Conteudo03{ 
    padding: 30px;
    font-family: 'Roboto', sans-serif;
    text-align: center justify;
    border: solid 5px black;
    margin: 10px solid;
    width: 1240px;
    background-color:rgb(169, 153, 153)}

.Conteudo04{ padding: 30px;
    font-family: 'Roboto', sans-serif;
    text-align: center justify;
    border: solid 5px black;
    margin: 10px solid;
    width: 1240px;
    background-color:rgb(169, 153, 153)}

    form{
        padding: 30px;
        text-align: center;
        background: #2b3792;
        border: solid 5px black;}
         

    
            
    .input:focus-visible{
            width: 15%;
            padding: 12px 20px;
            margin: 8px 0;
            box-sizing: border-box;
            border: 2px solid red;
            border-radius: 4px;}

            

